#cy
= javascript_include_tag "http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js" 
= javascript_include_tag "cytoscape_initialization"
%a.btn.btn-primary#export-png{download:'ExportedGraph.png', href: ''} Export PNG
%a.btn.btn-primary#recenter-view{} Re-center view

:coffee
  $('#export-png').on 'click', (->
    $("#export-png").attr('href', cy.png({bg:'white',full:true}))
  )
:coffee
  $("#recenter-view").on 'click', (->
    cy.fit()
  )
:javascript
  $("#cy").ready(function() {
    cy.on('click', 'node', function(event) {

      function AmiGO_link_from_GO_term(go_term) {
          var AMIGO_URL_PREFIX = "http://amigo.geneontology.org/amigo/term/"
          return AMIGO_URL_PREFIX + go_term;
      }

      var go_id = this.id();
      $("#SelectedNodeID").text(go_id);
      $("#SelectedNodeDescription").text(this.data("name"));
      if ((typeof go_id === 'string' || go_id instanceof String) && go_id.length > 0)
      {
        $("#SelectedNodeAmiGOLink").html('<a href="' + AmiGO_link_from_GO_term(go_id) + '">AmiGO link</a>');
      }
    });
  });
